<html xmlns="http://www.w3.org/1999/xhtml" ng-app="AboutMe">
<head>
    <title></title>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/ngapp/app.js"></script>
    <base href="/" />
</head>

<body>
    <a ui-sref="Home">About Me</a>
    <a ui-sref="ContactMe">Contact Me</a>

    <ui-view></ui-view>

</body>
</html>